@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main { flex: 1; }

.cursor-dot {
  pointer-events: none;
  position: fixed;
  width: 27px;
  height: 27px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 255, 255, 0.3);
  border-radius: 50%;
  filter: blur(5px);
  box-shadow: 0 0 15px var(--primary-color);
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  z-index: 999;
}